---
import LayoutBase from '../layouts/LayoutBase.astro';
import dadosBiblioteca from '../data/biblioteca.json';
---

<LayoutBase mostrarBotaoVoltar={true}>
    <div class="flex flex-col gap-6 max-w-100 mx-auto">
        <a href={dadosBiblioteca.linkAcervo.url} target="_blank" class="text-white bg-[#BC1823] rounded-[20px] p-6 flex justify-between items-center group">
            <div class="pr-4">
                <h2 class="font-bold text-lg leading-tight mb-1">{dadosBiblioteca.linkAcervo.titulo}</h2>
                <p class="text-white/80 text-xs font-light leading-tight mt-2">{dadosBiblioteca.linkAcervo.subtitulo}</p>
            </div>
            <i class="fa-solid fa-arrow-right text-2xl"></i>
        </a>

        <div class="bg-gray-50 border border-gray-100 rounded-[20px] p-6 flex flex-col items-start">
            <h3 class="text-sm text-gray-500 font-bold mb-5 uppercase">Horário de Funcionamento</h3>
            <div class="flex flex-col gap-2 items-center px-2 w-full">
                <div class="flex flex-col gap-6 w-full">
                    {dadosBiblioteca.horarios.map((unidade) => (
                        <div class="flex items-start gap-2">
                            <div class="bg-red-100 text-[#C81D25] w-8 h-8 rounded-full flex items-center justify-center shrink-0">
                                <i class="fa-solid fa-clock text-[16px]"></i>
                            </div>
                            <div class="flex flex-col gap-0.5">
                                <h4 class="font-bold text-gray-800">{unidade.cidade}</h4>
                                <p class="text-xs text-gray-500 font-light leading-tight">{unidade.campi}</p>
                                <p class="text-xs text-gray-500 font-light leading-tight">{unidade.horario}</p>
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </div>

        <a href={dadosBiblioteca.linkRapido.url} target="_blank" class="text-white bg-[#BC1823] rounded-[20px] p-6 flex justify-between items-center group">
            <div class="pr-4">
                <h2 class="font-bold text-lg leading-tight mb-1">{dadosBiblioteca.linkRapido.titulo}</h2>
                <p class="text-white/80 text-xs font-light leading-tight mt-2">{dadosBiblioteca.linkRapido.subtitulo}</p>
            </div>
            <i class="fa-solid fa-arrow-right text-2xl"></i>
        </a>
    </div>
</LayoutBase>